.main
 .main-header
  .main-header__content
   .main-header__content--group-name
    = @group.name
   .main-header__content--group-member
    - @user.each do |u|
     =u.name
    %end
  =link_to edit_group_path(current_user), class: "main-header__btn" do
   .main-header__btn--edit
    Edit
 .main-message
  = render @messages
 .form
  = form_for [@group, @message] do |f|
   = f.text_field :content, class: 'form__message', placeholder: 'type a message'
   .form__mask
    = f.label :image, class: 'form__mask__image' do
     = icon('fas', 'image', class: 'icon')
     = f.file_field :image, class: 'hidden'
   = f.submit 'Send', class: 'form__submit'
        
