.main
 .main-header
  .main-header__content
   .main-header__content--group-name
    gruop name
   .main-header__content--group-member
    Member :
  =link_to "#", class: "main-header__btn" do
   .main-header__btn--edit
    Edit
 .main-message
  .main-message__user-name
   .main-message__user-name--name
    shouya
   .main-message__user-name--time
    2019/10/08/19:14:39
  .main-message__message
   This is a first message
 .form
  = form_for [@group, @message] do |f|
   = f.text_field :content, class: 'form__message', placeholder: 'type a message'
   .form__mask
    = f.label :image, class: 'form__mask__image' do
     = icon('fas', 'image', class: 'icon')
     = f.file_field :image, class: 'hidden'
   = f.submit 'Send', class: 'form__submit'
        
